{#{% extends 'layout/_layout.html' %}#}
{% extends 'layout/index.html' %}

{% block css %}
    <style>
        select {
            height: 30px;
        }
        .error-p{
            padding-top: 5px;
            color: red;
            text-align: left;
            padding-left: 5px;
            float: left;

        }
        #id_tag li{
            list-style: none;
        }
    </style>

{% endblock %}

{% block conent %}
    <ol class="breadcrumb" style="margin-bottom: 0;">
        <li><a href="/cmdb.html">首页</a></li>
        <li><a href="/asset.html">密码表管理</a></li>
        <li class="active">编辑备注</li>
    </ol>
    <div style="padding: 10px 0 10px 10px;">
        <form class="form-horizontal" method="post" action="#" novalidate="novalidate">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_device_type_id" class="col-sm-2 control-label">资产类型: </label>
                <div class="col-sm-2">
                    {{ obj.device_type_id }}
                </div>
            </div>
            <div class="form-group">
                <label for="id_device_status_id" class="col-sm-2 control-label">资产状态: </label>
                <div class="col-sm-2">
                    {{ obj.device_status_id }}
                </div>
            </div>

            <div class="form-group">
                <label for="id_hostname" class="col-sm-2 control-label">主机名: </label>
                <div class="col-sm-3">
                    {{ obj.hostname }}
                </div>
                {% if obj.errors.hostname.0 %}
                    <p class="error-p">{{ obj.errors.hostname.0 }}</p>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="id_cabinet_num" class="col-sm-2 control-label">机柜号: </label>
                <div class="col-sm-3">
                    {{ obj.cabinet_num }}
                </div>
            </div>

            <div class="form-group">
                <label for="id_cabinet_order" class="col-sm-2 control-label">机柜中序号: </label>
                <div class="col-sm-3">
                    {{ obj.cabinet_order }}
                </div>
            </div>

            <div class="form-group">
                <label for="id_idc" class="col-sm-2 control-label">IDC机房: </label>
                <div class="col-sm-2">
                    {{ obj.idc_id }}
                </div>
            </div>

            <div class="form-group">
                <label for="id_business_unit" class="col-sm-2 control-label">业务线: </label>
                <div class="col-sm-2">
                    {{ obj.business_unit_id }}
                </div>
            </div>

            <div class="form-group">
                <label for="id_tag" class="col-sm-2 control-label">标签: </label>
                <div class="col-sm-2" style="margin-top: 5px;">
                    {{ obj.tag }}
                </div>
                {% if obj.errors.tag.0 %}
                    <p class="error-p">{{ obj.errors.tag.0 }}</p>
                {% endif %}
            </div>
            <div class="form-group" style="margin-left: 130px;">
                <button type="submit" class="btn btn-success" >修改</button>
                <button type="button" class="btn btn-info" onclick="window.history.back(-1)">返回</button>
            </div>


        </form>


    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/plugins/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/nb-list.js"></script>

    <script>
        $(function () {
            $.initMenu('#menu_asset');
        });


    </script>
{% endblock %}